
// Universals: Get all universal styles.

@import 'universal/normalize',
        'universal/variables',
        'universal/animations',
        'universal/typography',
        'universal/buttons',
        'universal/body';

// Content: Get all content specific styles.

@import 'parts/work',
        'parts/about',
        'parts/profile';
