
/* Labels
---------------------------------------------------------------------------------------------------- */

.label {
    background-color: $color-light-light;

    border-radius: 3px;

    position: absolute;

    padding: 5px 5px 4px;

    font-size: 10px;
    line-height: 1;
    color: $color-light-normal;
    white-space: nowrap;

    opacity: 0;

    transition-duration: 0.25s;
}

/* Icons
---------------------------------------------------------------------------------------------------- */

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;

    width: 40px;
    height: 40px;

    float: left;

    position: relative;

    margin: 0;

    opacity: 0.85;

    &:hover {
        background-position: top 5px center;
    }

    // Labels: The little fade label above each icon.

    .label {
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &:hover .label {
        top: -20px;

        opacity: 1;
    }

    // Small: No labels for mobile.

    @media ($break-s) {
        &:hover {
            background-position: center center;
        }

        .label {
            display: none;
        }
    }
}

.icon.email {
    background-image: url(../images/icon-email.png);
}

.icon.instagram {
    background-image: url(../images/icon-instagram.png);
}

.icon.medium {
    background-image: url(../images/icon-medium.png);
}

.icon.twitter {
    background-image: url(../images/icon-twitter.png);
}

.icon.dribbble {
    background-image: url(../images/icon-dribbble.png);
}
