
/* Typography
---------------------------------------------------------------------------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75;
  color: rgba(#000000, 0.5);

  a {
    color: rgba(#000000, 0.5);
  }
}

h1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;

  text-transform: uppercase;

  margin-bottom: 11px;

  span {
    &:nth-child(1) {
      color: rgba(#000000, 0.25);
    }

    &:nth-child(2) {
      color: rgba(#000000, 0.2);
    }

    &:nth-child(3) {
      color: rgba(#000000, 0.15);
    }
  }

  @media (max-width: 580px) {
    margin-bottom: 8px;
  }
}

h2 {
  font-size: 25px;
  line-height: 1.25;

  margin-bottom: 9px;
}
