
/* Typography
---------------------------------------------------------------------------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75;
  color: rgba(#000000, 0.5);

  a {
    color: rgba(#000000, 0.5);
  }
}

h1 {
  font-size: 18px;
  line-height: 1.5;
  color: #000000;

  margin-bottom: 33px;

  @media (max-width: 320px) {
    margin-bottom: 8px;
  }
}

h2 {
  font-size: 25px;
  line-height: 1.25;

  margin-bottom: 34px;

  strong {
    color: #000000;
  }

  @media (max-width: 320px) {
    margin-bottom: 9px;
  }
}
