
/* The Working On Link: Will become a full timeline for previous work as well.
---------------------------------------------------------------------------------------------------- */

.working {
    @include animation-fade-in(5s);

    border-radius: 3px 15px 15px 3px;

    height: 20px;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;

    padding-right: 30px;

    font-size: 12px;
    line-height: 20px;
    color: $color-light-normal;

    &:hover {
        color: $color-light-heavy;
    }

    // Currently: The working indicator.

    &:after {
        @include animation-pulse();

        border: 2px solid $color-green-heavy;
        border-radius: 50%;

        width: 20px;
        height: 20px;

        position: absolute;
        top: 0;
        right: 0;
    }

    // Small: Need to work on mobile styling.

    @media ($break-m) {
        display: none;
    }
}
